
data/.DS_Store
.DS_Store
.ipynb_checkpoints/
/data/*
!/data/us_CSA.shp
!/data/us_CSA.shx
!/data/us_CSA.cpg
!/data/us_CSA.dbf
!/data/us_state.shp
!/data/us_state.shx
!/data/us_state.cpg
!/data/us_state.dbf
!/data/CSA_df.csv
!/data/airport_core_with_CSA.csv